parameters:
    paths:
        - app
        - src
        - tests
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    excludePaths:
        - %currentWorkingDirectory%/app/Providers/*
        - %currentWorkingDirectory%/app/Http/*
    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\(.*)::\$.*#'
        - '#Access to an undefined property App\\Models\\(.*)::\$.*#'
